body,html{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.display{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
    z-index: 1;
   
}

.key{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
   

    height: 90%;
    padding: 20px;
    z-index: 1;
}
.keyboard{
    height: 70%;
    width: 100%;
   
    z-index: 1;
}
button{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 0;
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    
}
button:hover{
    background-color: cornflowerblue;
    color: aliceblue;
}
#test {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
.a{
    background-image: url("./vimg/Bike.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.b{
    background-image: url("./vimg/Car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.c{
    background-image: url("./vimg/Police.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.d{
    background-image: url("./vimg/Train.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.e{
    background-image: url("./vimg/Boat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.f{
    background-image: url("./vimg/Aeroplane.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.g{
    background-image: url("./vimg/Ambulance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.h{
    background-image: url("./vimg/Rickshaw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
